<h1> <%= @story.name %> </h1>
<h3> <%= @story.theme %> </h3>

<ul>
  <% @narrations.each do |narration| %>
    <li><%= narration.body %></li>
  <% end %>
</ul>

<%= form_for([@story, @narration]) do |f| %>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>

  <div class="actions">
    <%= f.submit "Confirm Action" %>
  </div>
<% end %>
